<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/util
       http://www.springframework.org/schema/context/spring-util.xsd
">

    <bean name="basicAdvice" class="org.scopes.exercises.advice.DefaultAdvice"/>
    <bean name="fortune" class="org.scopes.exercises.advice.Fortune"/>

    <!-- singleton scope is the default-->
    <bean name="footballCoach" class="org.scopes.exercises.sport.footballCoach" scope="singleton">
        <constructor-arg ref="basicAdvice"/>
    </bean>

    <bean name="lifeCoach" class="org.scopes.exercises.sport.lifeCoach" scope="prototype">
        <constructor-arg ref="fortune"/>
    </bean>

</beans>