<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
">

    <bean name="fortuneSource"
          class="org.lifecycle.exercises.commons.FortuneSource"
          init-method="initMethod"
          destroy-method="destroyMethod">
        <!-- Init and destroy methods must have empty arguments. They can have any return value, but that output cannot
        be captured, so it's usually void-->
        <!-- the cleanup doesn't run if we don't explicitly close the context in the java code! -->
        <constructor-arg value="org.lifecycle.exercises.advice/Fortune.csv"/>
    </bean>

    <bean name="basicAdvice" class="org.lifecycle.exercises.advice.DefaultAdvice"/>
    <bean name="fortune" class="org.lifecycle.exercises.advice.Fortune">
        <constructor-arg ref="fortuneSource"/>
    </bean>


    <bean name="footballCoach" class="org.lifecycle.exercises.sport.footballCoach">
        <constructor-arg ref="basicAdvice"/>
    </bean>

    <bean name="lifeCoach" class="org.lifecycle.exercises.sport.lifeCoach">
        <constructor-arg ref="fortune"/>
    </bean>

</beans>