<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
">

    <bean name="fortuneService" class="org.di.exercises.fortune.DefaultFortuneService"/>
    <bean name="constructorCoach" class="org.di.exercises.sport.BaseballCoach">
        <constructor-arg ref="fortuneService"/>
    </bean>
    <bean name="setterCoach" class="org.di.exercises.sport.TrackCoach">
        <!--
        the name is matched (with some case flexibility) to a setter method:
        in this case Spring will look for a setter called "setFortuneService"

        the ref is the bean name -->
        <property ref="fortuneService" name="fortuneService"/>
    </bean>

</beans>